body{
margin: 0%;
padding: 0%;
background-color: rgba(0,0,0,0.938);

}
.bfont{
    font-size: 1.4em;
	font-style: italic;

}

.card-text{
 
    text-align: justify;
    text-justify: inter-character;

}


.img-thumbnail {
    padding: .25rem;
    background-color: #DAA520;
    border: 15px solid #DAA520;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

#upgames{

    font-family:'Yellowtail', sans-serif;
    
}

#contus{

    font-family:'Poppins', sans-serif;
}

.paypalbtn{

    width: 200px;
    height: 95px;
}

.navbar{

    background-color: transparent;
    position: relative;
    z-index: 4;
}

.nav-link{

    font-size: 14px;
    font-weight: bold;
}

 main{ 
    position: absolute;
    top: 0%;
    z-index: 0;
} 
.carousel-control-prev, .carousel-control-next {

    width: 8%;

}

.site-wrapper{

    height: 780px;
    width: 100%;
}

.card, .list-group-item{
    background-color: rgba(0,0,0,0.712);
    color: whitesmoke;
}

.parallax{

    background-image:url('../img/sf9.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
    width: 100%;
}


/*Contact Form*/

button[type="submit"] {
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto; 
  padding-left: 5%;
  padding-right: 5%;
  color: #fafafa;
  background-color: #DAA520;
  font-family: 'Poppins'sans-serif;

}

.contact-heading {
font-family:"Poppins", sans-serif;
font-weight: 300;
margin-top: 25px;
margin-bottom: 20px;

}

.center-form{
 padding-top: 10px;
 margin: 0 auto;
 max-width: 70%;

}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 4.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color
}

#case {
 font-family:'Yellowtail', sans-serif;
font-weight: 50;

}

label input:valid + .text-input {
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

/* footer*/

footer{

    background:rgba(0,0,0,0.938);
    color:#fafafa;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i{

font-size: 18px;
color: #fafafa;
text-align: center;
padding-left: 5px;
transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;

}

.cv-pdf i:hover{

    color:#DAA520;
}

.social-links{

padding-bottom: 15px;

}
 .social-links li a i {
width: 32px;
height: 32px;
padding: 12px 0;
border-radius: 50%;
font-size: 13px;
line-height: 7px;
text-align:center;
color: #fafafa;
background-color:#8f8f8f;
transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;

 }
.social-links li a i:hover{

background:#DAA520;

}

#footer-details{
padding: 20px;

}


@media only screen and (max-device-width:414px){
.site-wrapper{

    height: 230px;
}

.col-md-4{
    margin: 5% 0%;

    }
    .carousel-control-next, .carousel-control-prev{

        display: none;
    }

    .form-control{
        width: 250px;
    }
      
        .card {
         margin: auto;
         width: 60%;
        }

    button[type="submit"]{
        margin-left: 92px;

       }
    
}

@media only screen and (max-device-width:375px){
.site-wrapper{

    height: 200px;
}

.col-md-4{

    margin: 5% 0%;

    }
    .carousel-control-next, .carousel-control-prev{

        display: none;
    }

    .form-control{
        width: 250px;

     }
    
}

@media only screen and (max-device-width:320px){
.site-wrapper{

    height: 200px;
}

.col-md-4{

    margin: 5% 0%;

    }
    .carousel-control-next, .carousel-control-prev{

        display: none;
    }

    .form-control{
        width: 220px;

       }   

       button[type="submit"]{
        margin-left: 80px;

       }
       
    
}

@media only screen and (max-device-width:280px){
.site-wrapper{

    height: 200px;
}

.col-md-4{

    margin: 5% 0%;

    }
    .carousel-control-next, .carousel-control-prev{

        display: none;
    }

    .form-control{
        width: 180px;

       }   
       
    
}
  