* {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    background: url("../img/asteriod.gif")no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
} 

.wrapper {
    display: table;
    width: 600px;
    font-family: 'VT323', monospace;
    color: rgb(247, 245, 199);
}

.canvas-container {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#game-layer {
    width: 100%;
    z-index: 0;
}

#title {
    width:100%;
    font-size: 50px;
    text-align: center;
    line-height: 1em;
    position: absolute;
    z-index: 1;
}


#menu {
    text-align: center;
    width: 100%;
    position: relative;
    margin-top: 500 px;
    bottom: 1em;
    z-index: 3;
}

#start_button {
    background-color: black;
    color: rgb(247, 245, 199);
    font-family: 'VT323', monospace;
    font-size: 20px;
    margin-top: 500px;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-width: 1px;
    border-color: rgb(247, 245, 199);
    cursor: pointer;
}
#start {
    background-color: black;
    color: rgb(247, 245, 199);
    font-family: 'VT323', monospace;
    font-size: 20px;
    margin-block-end: 250px;
    margin-top: 10px;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-width: 1px;
    border-color: rgb(247, 245, 199);
    cursor: pointer;
}

